body{
    font-family: "Arial";
    background-color: black;
    color: white;
    line-height: 1.5;
}


.wd-bg-border-color{
    border-color: rgb(47, 51, 54);
}

.wd-bg-color-grey{
    background-color: darkgrey;
}

.wd-border-no { border-width: 0px; }

.wd-padding-all-around {
    padding: 16px;
}

.wd-padding-left{
    padding-left: 16px;
}

.wd-padding-top{
    padding-top: 12px;
}

.wd-padding-bottom{
    padding-bottom: 12px;
}

.wd-rounded-corners-all-around {
    border-radius: 50px;
    width: 80%;
    height: 25px;
}

.wd-float-right{
    position: relative;
    float: right;
}

.wd-float-left{
    float: left;
}

.wd-gear-icon-size{
    height: 18px;
    width: 18px;
}

.wd-gear-padding-right{
    right: 12px;
}

.wd-link-list{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.wd-link-font-size {
    font-size: 15px;
}

.wd-unselected {
    color: rgb(110, 118, 125);
    display: block;
    text-decoration: none;
}

.wd-li-block {
    display: block;
}

.wd-selected{
    color: rgb(29,161,242);
    border-bottom: solid 2px rgb(29, 161, 242);
    display: block;
    text-decoration: none;
}

.wd-separator-bar {
    margin: 0px;
    height: 4px;
    color: #282c34;
    background-color: #282c34;
}

.wd-auto-overflow{
    overflow: auto;
}

.wd-post-topic{
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-post-content{
    font-size: 16px;
    color: white;
}

.wd-post-item-pic {
    width: 100px;
    height: 100px;
    float: right;
    border-radius: 10px;
    position: relative;
}
.wd-post-title{
    width: 600px;
}

.wd-post-from{
    font-weight: bold;
    color: white;
}

.wd-color-lightgrey{
    color: rgb(110, 118, 125);
}

.wd-border-bottom {
    border-bottom: solid;
    border-bottom-width: medium;
    border-bottom-color: #0d6efd;
}

.wd-follow-suggestion-icon-size {
    width: 48px;
    height: 48px;
}

.wd-follow-suggestion-icon-move-up {
    top: -8px;
}

.start-10{
    left: 10px;
}